@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-icon span{
    height: 2px;
    background-color: black;
    width: 100%;
    opacity: 1;
    display: block;
    border-radius: 5px;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, width .3s ease-in-out;
  }

  .nav-icon span:nth-child(2){
    width: 18px;
  }
  .nav-icon span:nth-child(3){
    width: 10px;
  }
  .active span:nth-child(1){
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }
  .active span:nth-child(2){
    opacity: 0;
  }
  .active span:nth-child(3){
    width: 24px;
    transform: translate3d(0, -8px, 0) rotate(-45deg);
  }

  .mobile-menu{
    height: 0px;
    visibility: hidden;
    pointer-events: none;
    padding: 0 1rem;
  }
  .menu{
    transition: height .3s ease-in-out, visibility .3s ease-in-out, padding .2s ease;
  }
  .menu li{
    opacity: 0;
    transition: opacity .3s ease .1s;
    padding: 0.5rem;
  }
  .active-menu{
    padding: 2rem 1rem;
    height: 50vh;
    visibility: visible;
    pointer-events: all;
  }
  .active-menu li{
    opacity: 1;
  }